In [4]:
import streamlit as st
import pandas as pd
from PIL import Image
    



df = pd.read_csv('Books_universe.csv')
with media:
    st.subheader('Book Release:')
    pup = pd.DataFrame(df['original_publish_year'].value_counts()).head(50)
    a = pup[1::]
    #st.bar_chart(pup)
    #st.markdown(''' The most books got published in 2003.  ''')
    print(a)

      original_publish_year
2003                     23
2005                     20
1996                     17
2001                     16
2000                     14
1995                     13
1988                     13
2012                     13
2006                     13
1997                     12
1989                     12
1998                     11
1987                     10
1985                     10
2002                     10
1961                      9
1992                      9
1962                      9
1982                      9
1974                      9
1993                      9
1999                      9
1994                      9
1959                      8
1971                      8
1958                      8
1955                      8
1969                      8
1949                      8
1977                      7
1984                      7
2014                      7
1952                      7
1990                      7
2007                      7
1979                      7
1956                      6
1957                      6
1947                      6
1945                      6
1929                      6
1976                      6
1991                      6
1986                      6
1980                      6
2009                      6
2004                      6
1978                      5
1938                      5